<!-- FULL TENTANG SIDEBAR -->
<nav>
  <div id="mySidenav" class="sidenav">
    <b
      ><p style="float: right; padding-right: 24px; font-size: 25pt">
        Dashboard
      </p></b
    >
    <img
      src="{% static 'images/logostraightbulet.png' %}"
      style="padding-top: 16px; padding-left: 30px; display: inline-block"
    />
    <h1 style="padding-left: 30px; padding-top: 30px">MAIN</h1>
    <a href="/home">
      <img
        src="{% static 'images/home.png' %}"
        style="padding-right: 16px"
      />Home</a
    >

    {% if user.is_authenticated %} {% comment %}
    <a href="{% url 'blogs:index' %}"
      ><img
        src="{% static 'images/task.png' %}"
        style="padding-right: 16px"
      />Project</a
    >
    {% endcomment %} {% comment %}
    <a href="{% url 'notif' %}"
      ><img
        src="{% static 'images/notif.png' %}"
        style="padding-right: 16px"
      />Notifications</a
    >
    {% endcomment %} {% comment %}
    <a href="{% url 'teammanagement' %}"
      ><img
        src="{% static 'images/team.png' %}"
        style="padding-right: 16px"
      />Team Management</a
    >
    {% endcomment %}
    <!-- <a href="/kontak">Contact</a> -->

    <br />
    <h1 style="padding-left: 30px">SETTINGS</h1>
    {% comment %}
    <a href="{% url 'profile' %}"
      ><img
        src="{% static 'images/profile.png' %}"
        style="padding-right: 16px"
      />Profile</a
    >
    {% endcomment %}
    <a href="{% url 'logout' %}"
      ><img
        src="{% static 'images/logout.png' %}"
        style="padding-right: 16px"
      />Logout</a
    >

    {% if request.user.username == "admin" %}
    <br />
    <h1 style="padding-left: 30px">MASTER</h1>
    {% comment %}
    <a href="{% url 'usermanagement' %}"
      ><img
        src="{% static 'images/user.png' %}"
        style="padding-right: 16px"
      />User Management</a
    >
    {% endcomment %} {% endif %} {% else %}
    <a href="{% url 'login' %}">Sign in</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </div>
</nav>
<!--  -->

<div id="main">
  <div class="topnav">
    <span
      style="font-size: 30px; cursor: pointer; float: left; padding-top: 16px"
      onclick="openNav()"
      class="sidenavopened"
      >&#9776;</span
    >
    <h1 style="float: left; padding-left: 16px; color: rgb(0, 109, 109)">
      {% block title%}{% endblock %}
    </h1>

    {% if user.is_authenticated %}
    <div class="dropdown">
      <button onclick="showdropdown()" class="dropbtn">
        <img
          src="{% static 'images/panahbawah.png' %}"
          style="padding-left: 8px; float: right; padding-top: 28px"
        />
        <h1 style="float: right; color: rgb(0, 109, 109)">
          {{request.user.username}}
        </h1>
        <img
          src="{% static 'images/fotoprofil.png' %}"
          style="padding-right: 8px; float: right; padding-top: 20px"
        />
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    {% comment %}
    <a href="{% url 'notif' %}"
      ><img
        src="{% static 'images/Group_187.png' %}"
        alt="notificationlogo"
        style="float: right; padding-right: 16px; padding-top: 20px"
    /></a>
    {% endcomment %}
    <a href=""
      ><img
        src="{% static 'images/Group_188.png' %}"
        alt="searchlogo"
        style="float: right; padding-right: 16px; padding-top: 20px"
    /></a>
    {% endif %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "320px";
      document.getElementById("main").style.marginLeft = "320px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "rgb(232, 232, 232)";
    }
  </script>
</div>
